{
  "openapi": "3.0.1",
  "info": {
    "title": "Open Data Hub Tourism Api",
    "description": "Open Data Hub Tourism Api based on .Net Core with PostgreSQL",
    "termsOfService": "https://opendatahub.readthedocs.io/en/latest/",
    "contact": {
      "name": "Open Data Hub Team",
      "url": "https://opendatahub.com/",
      "email": "help@opendatahub.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://tourism.api.opendatahub.com"
    }
  ],
  "paths": {
    "/v1/Accommodation": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation List",
        "operationId": "AccommodationList",
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (If availabilitycheck set, pagesize has no effect all Accommodations are returned), (default:10)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:null)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryfilter",
            "in": "query",
            "description": "Categoryfilter BITMASK values: 1 = (not categorized), 2 = (1star), 4 = (1flower), 8 = (1sun), 14 = (1star/1flower/1sun), 16 = (2stars), 32 = (2flowers), 64 = (2suns), 112 = (2stars/2flowers/2suns), 128 = (3stars), 256 = (3flowers), 512 = (3suns), 1024 = (3sstars), 1920 = (3stars/3flowers/3suns/3sstars), 2048 = (4stars), 4096 = (4flowers), 8192 = (4suns), 16384 = (4sstars), 30720 = (4stars/4flowers/4suns/4sstars), 32768 = (5stars), 65536 = (5flowers), 131072 = (5suns), 229376 = (5stars/5flowers/5suns), 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "typefilter",
            "in": "query",
            "description": "Typefilter BITMASK values: 1 = (HotelPension), 2 = (BedBreakfast), 4 = (Farm), 8 = (Camping), 16 = (Youth), 32 = (Mountain), 64 = (Apartment), 128 = (Not defined),'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featurefilter",
            "in": "query",
            "description": "FeatureFilter BITMASK values: 1 = (Group-friendly), 2 = (Meeting rooms), 4 = (Swimming pool), 8 = (Sauna), 16 = (Garage), 32 = (Pick-up service), 64 = (WLAN), 128 = (Barrier-free), 256 = (Special menus for allergy sufferers), 512 = (Pets welcome), 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featureidfilter",
            "in": "query",
            "description": "Feature Id Filter, LIST filter over ALL Features available. Separator ',' List of Feature IDs, 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "themefilter",
            "in": "query",
            "description": "Themefilter BITMASK values: 1 = (Gourmet), 2 = (At altitude), 4 = (Regional wellness offerings), 8 = (on the wheels), 16 = (With family), 32 = (Hiking), 64 = (In the vineyards), 128 = (Urban vibe), 256 = (At the ski resort), 512 = (Mediterranean), 1024 = (In the Dolomites), 2048 = (Alpine), 4096 = (Small and charming), 8192 = (Huts and mountain inns), 16384 = (Rural way of life), 32768 = (Balance), 65536 = (Christmas markets), 131072 = (Sustainability), 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "badgefilter",
            "in": "query",
            "description": "BadgeFilter BITMASK values: 1 = (Belvita Wellness Hotel), 2 = (Familyhotel), 4 = (Bikehotel), 8 = (Red Rooster Farm), 16 = (Barrier free certificated), 32 = (Vitalpina Hiking Hotel), 64 = (Private Rooms in South Tyrol), 128 = (Vinum Hotels), 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idfilter",
            "in": "query",
            "description": "IDFilter LIST Separator ',' List of Accommodation IDs, 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter SPECIAL Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction), 'null' = (No Filter), (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#location-filter-locfilter\" target=\"_blank\">Wiki locfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "altitudefilter",
            "in": "query",
            "description": "Altitude Range Filter SPECIAL (Separator ',' example Value: 500,1000 Altitude from 500 up to 1000 metres), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "description": "ODHTag Filter LIST (refers to Array SmgTags) (String, Separator ',' more ODHTags possible, 'null' = No Filter, available ODHTags reference to 'v1/ODHTag?validforentity=accommodation'), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odhactive",
            "in": "query",
            "description": "ODHActive Filter BOOLEAN (refers to field SmgActive) (possible Values: 'null' Displays all Accommodations, 'true' only ODH Active Accommodations, 'false' only ODH Disabled Accommodations), (default:'null')",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "TIC Active Filter BOOLEAN (possible Values: 'null' Displays all Accommodations, 'true' only TIC Active Accommodations, 'false' only TIC Disabled Accommodations), (default:'null')",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "bookablefilter",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival DATE (yyyy-MM-dd) REQUIRED ON Availabilitycheck = true, (default:'Today's date')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure DATE (yyyy-MM-dd) REQUIRED ON Availabilitycheck = true, (default:'Tomorrow's date')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED ON Availabilitycheck = true (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "schema": {
              "type": "string",
              "default": "1-18,18"
            }
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter REQUIRED ON Availabilitycheck = true (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
            "schema": {
              "type": "string",
              "default": "hgv"
            }
          },
          {
            "name": "msssource",
            "in": "query",
            "description": "Source for MSS availability check, (default:'sinfo')",
            "schema": {
              "type": "string",
              "default": "sinfo"
            }
          },
          {
            "name": "availabilitychecklanguage",
            "in": "query",
            "description": "Language of the Availability Response (possible values: 'de','it','en')",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Detail of the Availablity check (string, 1 = full Details, 0 = basic Details (default))",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "tagfilter",
            "in": "query",
            "description": "Filter on Tags. (Endpoint on v1/Tag) Syntax =and/or(Tag.Id,Tag.Id,Tag.Id) example or(summer,hiking) - and(themed hikes,family hikings) - or(hiking) - and(summer) - Combining and/or is not supported at the moment, default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availabilitycheck",
            "in": "query",
            "description": "Availability Check BOOLEAN (possible Values: 'true', 'false), (default Value: 'false') NOT AVAILABLE AS OPEN DATA, IF Availabilty Check is true certain filters are Required",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter FLOAT Latitude Format: '46.624975', 'null' = disabled, (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#geosorting-functionality\" target=\"_blank\">Wiki geosort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter FLOAT Longitude Format: '11.369909', 'null' = disabled, (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#geosorting-functionality\" target=\"_blank\">Wiki geosort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius INTEGER to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#geosorting-functionality\" target=\"_blank\">Wiki geosort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "polygon",
            "in": "query",
            "description": "valid WKT (Well-known text representation of geometry) Format, Examples (POLYGON ((30 10, 40 40, 20 40, 10 20, 30 10))) / By Using the GeoShapes Api (v1/GeoShapes) and passing Country.Type.Id OR Country.Type.Name Example (it.municipality.3066) / Bounding Box Filter bbc: 'Bounding Box Contains', 'bbi': 'Bounding Box Intersects', followed by a List of Comma Separated Longitude Latitude Tuples, 'null' = disabled, (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#polygon-filter-functionality\" target=\"_blank\">Wiki geosort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedon",
            "in": "query",
            "description": "Published On Filter (Separator ',' List of publisher IDs), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields in the selected language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language supported (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langfilter",
            "in": "query",
            "description": "Language filter (returns only data available in the selected Language, Separator ',' possible values: 'de,it,en,nl,sc,pl,fr,ru', 'null': Filter disabled)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatefrom",
            "in": "query",
            "description": "Returns data changed after this date Format (yyyy-MM-dd), (default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "searchfilter",
            "in": "query",
            "description": "String to search for, Title in all languages are searched, (default: null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\" target=\"_blank\">Wiki searchfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawfilter",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawsort",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawsort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "getasidarray",
            "in": "query",
            "description": "Get result only as Array of Ids, (default:false)  Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResult"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResult"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResult"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResult"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResult"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Accommodation"
        ],
        "summary": "POST Insert new Accommodation",
        "requestBody": {
          "description": "Accommodation Object",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/Accommodation/{id}": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Single",
        "operationId": "SingleAccommodation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Accommodation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idsource",
            "in": "query",
            "description": "ID Source Filter (possible values:'lts','hgv','a0r_id'), (default:'lts')",
            "schema": {
              "type": "string",
              "default": "lts"
            }
          },
          {
            "name": "availabilitychecklanguage",
            "in": "query",
            "description": "Language of the Availability Response (possible values: 'de','it','en')",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = (No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "schema": {
              "type": "string",
              "default": "1-18,18"
            }
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
            "schema": {
              "type": "string",
              "default": "hgv"
            }
          },
          {
            "name": "msssource",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "sinfo"
            }
          },
          {
            "name": "availabilitycheck",
            "in": "query",
            "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false') NOT AVAILABLE AS OPEN DATA",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Detail of the Availablity check (string, 1 = full Details, 0 = basic Details (default))",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Accommodation"
        ],
        "summary": "PUT Modify existing Accommodation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accommodation Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Accommodation Object",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccommodationV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Accommodation"
        ],
        "summary": "DELETE Accommodation by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accommodation Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/PGCRUDResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AccommodationTypes": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Types List",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields in the selected language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language supported (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seed",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type to filter for ('Board','Type','Theme','Category','Badge','SpecialFeature')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "searchfilter",
            "in": "query",
            "description": "String to search for, Title in all languages are searched, (default: null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\" target=\"_blank\">Wiki searchfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawfilter",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawsort",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawsort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoTypes"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoTypes"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoTypes"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoTypes"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoTypes"
                  }
                }
              },
              "application/ldjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoTypes"
                  }
                }
              },
              "application/rawdata": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoTypes"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AccommodationTypes/{id}": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Types Single",
        "operationId": "SingleAccommodationTypes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the AccommodationType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields in the selected language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language supported (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccoTypes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccoTypes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccoTypes"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AccoTypes"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccoTypes"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/AccoTypes"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/AccoTypes"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AccommodationFeatures": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Feature List (LTS Features)",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields in the selected language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language supported (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seed",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ltst0idfilter",
            "in": "query",
            "description": "Filtering by LTS T0ID, filter behaviour is \"startswith\" so it is possible to send only one character, (default: blank)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "IF source = \"lts\" the Features list is returned in XML Format directly from LTS, (default: blank)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "searchfilter",
            "in": "query",
            "description": "String to search for, Title in all languages are searched, (default: null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\" target=\"_blank\">Wiki searchfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawfilter",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawsort",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawsort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoFeatures"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoFeatures"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoFeatures"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoFeatures"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoFeatures"
                  }
                }
              },
              "application/ldjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoFeatures"
                  }
                }
              },
              "application/rawdata": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccoFeatures"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AccommodationFeatures/{id}": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Feature Single (LTS Features)",
        "operationId": "SingleAccommodationFeatures",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the AccommodationFeature",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields in the selected language, possible values: 'de|it|en|nl|cs|pl|fr|ru' only one language supported (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccoFeatures"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccoFeatures"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccoFeatures"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AccoFeatures"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccoFeatures"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/AccoFeatures"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/AccoFeatures"
                }
              }
            }
          },
          "400": {
            "description": "Request Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AccommodationRoom": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Room Info by Accommodation",
        "operationId": "AccommodationRoomList",
        "parameters": [
          {
            "name": "accoid",
            "in": "query",
            "description": "Accommodation ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idsource",
            "in": "query",
            "description": "HGV ID or LTS ID of the Accommodation (possible values:'lts','hgv','a0r_id'), (default:'lts')",
            "schema": {
              "type": "string",
              "default": "lts"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source Filter (possible values:'lts','hgv'), (default:null)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getall",
            "in": "query",
            "description": "Get Rooms from all sources (If an accommodation is bookable on Booking Southtyrol, rooms from this source are returned, setting getall to true returns also LTS Rooms), (default:false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields in the selected language (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langfilter",
            "in": "query",
            "description": "Language filter (returns only data available in the selected Language, Separator ',' possible values: 'de,it,en,nl,sc,pl,fr,ru', 'null': Filter disabled)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatefrom",
            "in": "query",
            "description": "Returns data changed after this date Format (yyyy-MM-dd), (default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seed",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedon",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchfilter",
            "in": "query",
            "description": "String to search for, Title in all languages are searched, (default: null) <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#searchfilter\" target=\"_blank\">Wiki searchfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawfilter",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rawsort",
            "in": "query",
            "description": "<a href=\"https://github.com/noi-techpark/odh-docs/wiki/Using-rawfilter-and-rawsort-on-the-Tourism-Api#rawfilter\" target=\"_blank\">Wiki rawsort</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationRoomLinked"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationRoomLinked"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationRoomLinked"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationRoomLinked"
                  }
                }
              },
              "application/ld+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationRoomLinked"
                  }
                }
              },
              "application/ldjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationRoomLinked"
                  }
                }
              },
              "application/rawdata": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccommodationRoomLinked"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AccommodationRoom/{id}": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Room Info Single",
        "operationId": "SingleAccommodationRoom",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "AccommodationRoom ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields in the selected language (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Select fields to display, More fields are indicated by separator ',' example fields=Id,Active,Shortname (default:'null' all fields are displayed). <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters%2C-fields%2C-language%2C-searchfilter%2C-removenullvalues%2C-updatefrom#fields\" target=\"_blank\">Wiki fields</a>",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "removenullvalues",
            "in": "query",
            "description": "Remove all Null values from json output. Useful for reducing json size. By default set to false. Documentation on <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Common-parameters,-fields,-language,-searchfilter,-removenullvalues,-updatefrom#removenullvalues\" target=\"_blank\">Opendatahub Wiki</a>",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationRoomLinked"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationRoomLinked"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationRoomLinked"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationRoomLinked"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationRoomLinked"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationRoomLinked"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationRoomLinked"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AccommodationAvailable": {
      "post": {
        "tags": [
          "Accommodation"
        ],
        "summary": "POST Pass Accommodation Ids and get Accommodations with Availability Information / Availability Information Only <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Accommodation-Workflow#availability-search\" target=\"_blank\">Wiki Availability Search</a>",
        "parameters": [
          {
            "name": "availabilitychecklanguage",
            "in": "query",
            "description": "Language of the Availability Response",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "schema": {
              "type": "string",
              "default": "1-18,18"
            }
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check), (default:hgv)) REQUIRED",
            "schema": {
              "type": "string",
              "default": "hgv"
            }
          },
          {
            "name": "msssource",
            "in": "query",
            "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
            "schema": {
              "type": "string",
              "default": "sinfo"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Include Offer Details (String, 1 = full Details)",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter SPECIAL Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction), 'null' = (No Filter), (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#location-filter-locfilter\" target=\"_blank\">Wiki locfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedon",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availabilityonly",
            "in": "query",
            "description": "Get only availability information without Accommodation information",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "usemsscache",
            "in": "query",
            "description": "Use the MSS Cache to Request Data. No Ids have to be passed, the whole MSS Result of whole South Tyrol is used, available options (null/false/true) default (null), false = pass always the Ids to MSS omit its caching mechanism, true = do not pass ids to MSS get availability result and filter the resultset of MSS, null = let opendatahub decide when to use caching and when not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "uselcscache",
            "in": "query",
            "description": "Currently not used (planned to be active in 2025)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "removeduplicatesfrom",
            "in": "query",
            "description": "Remove all duplicate offers from the requested booking channel possible values: ('lts','hgv'), default(NULL)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ltsapiversion",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "v1"
            }
          }
        ],
        "requestBody": {
          "description": "Posted Accommodation IDs (Separated by , must be specified in the POST Body as raw)",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/AccommodationV2JsonResultWithBookingInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/AvailabilityCheck": {
      "post": {
        "tags": [
          "Accommodation"
        ],
        "summary": "POST Pass Accommodation Ids and get Accommodations with Availability Information / Availability Information Only",
        "parameters": [
          {
            "name": "availabilitychecklanguage",
            "in": "query",
            "description": "Language of the Availability Response",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',') (Room Types: 0=notprovided, 1=room, 2=apartment, 4=pitch/tent(onlyLTS), 8=dorm(onlyLTS)) possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "schema": {
              "type": "string",
              "default": "1-18,18"
            }
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check), (default:hgv)) REQUIRED",
            "schema": {
              "type": "string",
              "default": "hgv"
            }
          },
          {
            "name": "msssource",
            "in": "query",
            "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
            "schema": {
              "type": "string",
              "default": "sinfo"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Include Offer Details (String, 1 = full Details)",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter SPECIAL Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction), 'null' = (No Filter), (default:'null') <a href=\"https://github.com/noi-techpark/odh-docs/wiki/Geosorting-and-Locationfilter-usage#location-filter-locfilter\" target=\"_blank\">Wiki locfilter</a>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishedon",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "idm-marketplace"
            }
          },
          {
            "name": "usemsscache",
            "in": "query",
            "description": "Use the MSS Cache to Request Data. No Ids have to be passed, the whole MSS Result of whole South Tyrol is used, default(false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "uselcscache",
            "in": "query",
            "description": "Currently not used (planned to be active in 2025)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "removeduplicatesfrom",
            "in": "query",
            "description": "Remove all duplicate offers from the requested booking channel possible values: ('lts','hgv'), default(NULL)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ltsapiversion",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "v1"
            }
          }
        ],
        "requestBody": {
          "description": "Posted Accommodation IDs (Separated by , must be specified in the POST Body as raw)",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MssResultJsonResultWithBookingInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MssResultJsonResultWithBookingInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MssResultJsonResultWithBookingInfo"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/MssResultJsonResultWithBookingInfo"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/MssResultJsonResultWithBookingInfo"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/MssResultJsonResultWithBookingInfo"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/MssResultJsonResultWithBookingInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/ldjson": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/rawdata": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/v1/Announcement": {
      "get": {
        "tags": [
          "Announcement"
        ],
        "summary": "GET Announcement List",
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page, (default:10)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language field selector, displays data and fields available in the selected language (default:'null' all languages are displayed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langfilter",
            "in": "query",
            "description": "Langfilter (returns only data available in the selected Language, Separator ',' possible values: 'de,it,en,nl,sc,pl,fr,ru', 'null': Filter disabled)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "IDFilter (Separator ',' List of IDs, 'null' = No Filter), (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source Filter, (default:'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin",
            "in": "query",
            "description": "Begin Filter (Format: RFC3339 YYYY-MM-DDTHH:MM:SSZ), if set only announcements intesecting with begin are returned. **INCLUSIVE** (default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End Filter (Format: RFC3339 YYYY-MM-DDTHH:MM:SSZ), if set only announcements intesecting with end are returned. **INCLUSIVE**  (default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagfilter",
            "in": "query",
            "description": "Filter on Tags. Syntax =and/or(TagId,TagId,TagId) example or(traffic-event:hindrance,traffic-event:mountain-pass) - Combining and/or is not supported at the moment. (default: 'null')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seed",
[...]
